In [1]:
# Author: Cindy Tai
# Date: 20200223
# CS301-006, Professor Watson
# HW04 Solution
# Further practice with data manipulation using provided datasets on Coronavirus 
# https://github.com/htai327/
# https://github.com/htai327/
# master

# Homework 4 - Data Manipulation

In [2]:
import pandas as pd
import numpy as np

### Problem 1

In [3]:
def get_percent_nans(df, column_name):
    total_rows = df.shape[0]
    total_na = total_rows - df[column_name].count()
    pct = total_na / total_rows * 100
    return pct

In [4]:
my_df = pd.read_csv('2019_nCoV_20200121_20200206.csv')
for col in my_df.columns:
    print('The \"{}\" column has {:.2f}% empty values'.format(col, get_percent_nans(my_df, col)))

The "Province/State" column has 24.45% empty values
The "Country/Region" column has 0.00% empty values
The "Last Update" column has 0.00% empty values
The "Confirmed" column has 1.60% empty values
The "Suspected" column has 95.31% empty values
The "Recovered" column has 46.67% empty values
The "Death" column has 53.22% empty values

### Problem 2

In [5]:
regions = my_df.groupby('Country/Region')
sums = regions.agg(np.sum)

In [6]:
sorted_deaths = sums.sort_values(by=['Death'], ascending = False)
sorted_deaths

                      Confirmed  Suspected  Recovered   Death
Country/Region
Mainland China         302231.0      839.0     8448.0  6539.0
Philippines                25.0        4.0        0.0    10.0
Hong Kong                 337.0     1139.0        0.0     4.0
Australia                 238.0        1.0       30.0     0.0
Russia                     26.0        0.0        0.0     0.0
Singapore                 350.0        0.0        0.0     0.0
South Korea               256.0        0.0        0.0     0.0
Spain                      12.0        0.0        0.0     0.0
Sri Lanka                  23.0        0.0        1.0     0.0
Mexico                      0.0        1.0        0.0     0.0
Sweden                     13.0        0.0        0.0     0.0
Taiwan                    238.0        0.0        0.0     0.0
Thailand                  452.0        0.0      117.0     0.0
UK                         26.0        0.0        0.0     0.0
United Arab Emirates       81.0        0.0        0.0     0.0
United States             197.0        0.0        0.0     0.0
Nepal                      29.0        0.0        0.0     0.0
Malaysia                  195.0        4.0        0.0     0.0
Belgium                     3.0        0.0        0.0     0.0
Macau                     206.0        0.0        0.0     0.0
Japan                     360.0        0.0       26.0     0.0
Ivory Coast                 1.0        0.0        0.0     0.0
Italy                      28.0        0.0        0.0     0.0
India                      29.0        0.0        0.0     0.0
Germany                   158.0        0.0        0.0     0.0
France                    138.0        0.0        0.0     0.0
Finland                    17.0        0.0        0.0     0.0
Colombia                    0.0        1.0        0.0     0.0
Canada                     76.0        0.0        0.0     0.0
Cambodia                   24.0        0.0        0.0     0.0
Brazil                      0.0        1.0        0.0     0.0
Vietnam                   122.0        0.0       12.0     0.0

In [7]:
sorted_deaths.iloc[0].name

'Mainland China'

### Problem 3

In [8]:
suspected = sums.sort_values(by=['Suspected'], ascending = False)
suspected

                      Confirmed  Suspected  Recovered   Death
Country/Region
Hong Kong                 337.0     1139.0        0.0     4.0
Mainland China         302231.0      839.0     8448.0  6539.0
Malaysia                  195.0        4.0        0.0     0.0
Philippines                25.0        4.0        0.0    10.0
Mexico                      0.0        1.0        0.0     0.0
Australia                 238.0        1.0       30.0     0.0
Brazil                      0.0        1.0        0.0     0.0
Colombia                    0.0        1.0        0.0     0.0
Russia                     26.0        0.0        0.0     0.0
United States             197.0        0.0        0.0     0.0
United Arab Emirates       81.0        0.0        0.0     0.0
UK                         26.0        0.0        0.0     0.0
Thailand                  452.0        0.0      117.0     0.0
Taiwan                    238.0        0.0        0.0     0.0
Sweden                     13.0        0.0        0.0     0.0
Sri Lanka                  23.0        0.0        1.0     0.0
Spain                      12.0        0.0        0.0     0.0
South Korea               256.0        0.0        0.0     0.0
Singapore                 350.0        0.0        0.0     0.0
Finland                    17.0        0.0        0.0     0.0
France                    138.0        0.0        0.0     0.0
Nepal                      29.0        0.0        0.0     0.0
Cambodia                   24.0        0.0        0.0     0.0
Belgium                     3.0        0.0        0.0     0.0
Canada                     76.0        0.0        0.0     0.0
Macau                     206.0        0.0        0.0     0.0
Japan                     360.0        0.0       26.0     0.0
Ivory Coast                 1.0        0.0        0.0     0.0
Italy                      28.0        0.0        0.0     0.0
India                      29.0        0.0        0.0     0.0
Germany                   158.0        0.0        0.0     0.0
Vietnam                   122.0        0.0       12.0     0.0

In [9]:
suspected.iloc[0].name

'Hong Kong'

### Problem 4

In [10]:
averages = regions.agg(np.mean)
averages

                       Confirmed   Suspected  Recovered      Death
Country/Region
Australia               2.975000    1.000000   0.625000   0.000000
Belgium                 1.000000         NaN   0.000000   0.000000
Brazil                       NaN    1.000000        NaN        NaN
Cambodia                1.000000         NaN   0.000000   0.000000
Canada                  1.520000         NaN   0.000000   0.000000
Colombia                     NaN    1.000000        NaN        NaN
Finland                 1.000000         NaN   0.000000   0.000000
France                  4.600000         NaN   0.000000   0.000000
Germany                 7.181818         NaN   0.000000   0.000000
Hong Kong              10.531250  126.555556   0.000000   0.363636
India                   1.933333         NaN   0.000000   0.000000
Italy                   2.000000         NaN   0.000000   0.000000
Ivory Coast             1.000000         NaN        NaN        NaN
Japan                  10.588235         NaN   1.000000   0.000000
Macau                   6.242424         NaN   0.000000   0.000000
Mainland China        300.130089   11.493151  15.221622  13.972222
Malaysia                6.724138    4.000000   0.000000   0.000000
Mexico                       NaN    1.000000        NaN        NaN
Nepal                   1.000000         NaN   0.000000   0.000000
Philippines             1.666667    4.000000   0.000000   0.909091
Russia                  2.000000         NaN   0.000000   0.000000
Singapore              10.937500         NaN   0.000000   0.000000
South Korea             7.529412         NaN   0.000000   0.000000
Spain                   1.000000         NaN   0.000000   0.000000
Sri Lanka               1.000000         NaN   0.083333   0.000000
Sweden                  1.000000         NaN   0.000000   0.000000
Taiwan                  7.000000         NaN   0.000000   0.000000
Thailand               13.294118         NaN   4.500000   0.000000
UK                      2.000000         NaN   0.000000   0.000000
United Arab Emirates    4.500000         NaN   0.000000   0.000000
United States           1.279221         NaN   0.000000   0.000000
Vietnam                 3.812500         NaN   1.000000   0.000000

In [11]:
sorted_avg = averages.sort_values(by=['Recovered'], ascending = False)
sorted_avg

                       Confirmed   Suspected  Recovered      Death
Country/Region
Mainland China        300.130089   11.493151  15.221622  13.972222
Thailand               13.294118         NaN   4.500000   0.000000
Vietnam                 3.812500         NaN   1.000000   0.000000
Japan                  10.588235         NaN   1.000000   0.000000
Australia               2.975000    1.000000   0.625000   0.000000
Sri Lanka               1.000000         NaN   0.083333   0.000000
France                  4.600000         NaN   0.000000   0.000000
Singapore              10.937500         NaN   0.000000   0.000000
United States           1.279221         NaN   0.000000   0.000000
United Arab Emirates    4.500000         NaN   0.000000   0.000000
UK                      2.000000         NaN   0.000000   0.000000
Cambodia                1.000000         NaN   0.000000   0.000000
Taiwan                  7.000000         NaN   0.000000   0.000000
Sweden                  1.000000         NaN   0.000000   0.000000
Spain                   1.000000         NaN   0.000000   0.000000
South Korea             7.529412         NaN   0.000000   0.000000
Russia                  2.000000         NaN   0.000000   0.000000
Germany                 7.181818         NaN   0.000000   0.000000
Philippines             1.666667    4.000000   0.000000   0.909091
Belgium                 1.000000         NaN   0.000000   0.000000
Malaysia                6.724138    4.000000   0.000000   0.000000
Canada                  1.520000         NaN   0.000000   0.000000
Macau                   6.242424         NaN   0.000000   0.000000
Finland                 1.000000         NaN   0.000000   0.000000
Italy                   2.000000         NaN   0.000000   0.000000
India                   1.933333         NaN   0.000000   0.000000
Hong Kong              10.531250  126.555556   0.000000   0.363636
Nepal                   1.000000         NaN   0.000000   0.000000
Brazil                       NaN    1.000000        NaN        NaN
Colombia                     NaN    1.000000        NaN        NaN
Ivory Coast             1.000000         NaN        NaN        NaN
Mexico                       NaN    1.000000        NaN        NaN

In [12]:
sorted_avg.iloc[1].name

'Thailand'

### Problem 5 and 6
For problem 5, the dictionary will be defined in the problem 6 function

In [13]:
region_list = list(regions.groups)
region_list

['Australia',
 'Belgium',
 'Brazil',
 'Cambodia',
 'Canada',
 'Colombia',
 'Finland',
 'France',
 'Germany',
 'Hong Kong',
 'India',
 'Italy',
 'Ivory Coast',
 'Japan',
 'Macau',
 'Mainland China',
 'Malaysia',
 'Mexico',
 'Nepal',
 'Philippines',
 'Russia',
 'Singapore',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sweden',
 'Taiwan',
 'Thailand',
 'UK',
 'United Arab Emirates',
 'United States',
 'Vietnam']

In [14]:
def get_continent(country):
    continents = {'Asia':['Cambodia', 'Hong Kong', 'India', 'Japan', 'Macau', 'Mainland China', 'Malaysia', 'Nepal', 'Philippines', 'Russia', 'Singapore', 'South Korea', 'Sri Lanka', 'Taiwan', 'Thailand', 'United Arab Emirates', 'Vietnam'], 'Europe': ['Belgium', 'Finland', 'France', 'Germany', 'Italy', 'Spain', 'Sweden', 'UK'], 'Australia': ['Australia'], 'North America' : ['Canda', 'United States', 'Mexico'], 'South America' : ['Brazil', 'Colombia'], 'Africa': ['Ivory Coast']}
    for continent in continents:
        if country in continents.get(continent):
            return continent

In [15]:
get_continent('UK')

'Europe'

### Problem 7

In [16]:
for country in my_df['Country/Region']:
    continent = get_continent(country)
    my_df.loc[(my_df['Country/Region'] == country), 'Continent'] = continent

In [18]:
my_df

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death,Continent
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0,Asia
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0,Asia
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0,Asia
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0,Asia
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0,Asia
...,...,...,...,...,...,...,...,...
1872,Heilongjiang,Mainland China,1/21/2020,NaN,1.0,NaN,NaN,Asia
1873,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN,Asia
1874,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN,Asia
1875,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN,Asia
1876,Washington,United States,1/21/2020,1.0,NaN,NaN,NaN,North America

### Problem 8

In [21]:
continents_df = my_df.groupby('Continent').agg(np.sum)
continents_df['Confirmed']

Continent
Africa                1.0
Asia             304984.0
Australia           238.0
Europe              395.0
North America       197.0
South America         0.0
Name: Confirmed, dtype: float64